<section class="bg-gray-50 h-screen">
  <header class="flex justify-between items-center bg-gray-900 h-[80px] text-white px-5">
    <h1 class="flex items-center gap-1">
      <img ngSrc="assets/images/angular-icon.png" alt="Logo angular" class="invert" width="45" height="45" priority />
      <span class="font-semibold">Angular Labs</span>
    </h1>
    <ul class="flex gap-8 text-sm tracking-wide">
      <li>
        <a href="">Ahorro</a>
      </li>
      <li>
        <a href="">Inversión</a>
      </li>
      <li>
        <a href="">Otros</a>
      </li>
      <li>
        <a href="">Ayuda</a>
      </li>
    </ul>
  </header>
  <div class="h-[calc(100vh-88px)] flex items-center justify-center">
    <div class="text-center">
      <h2 class="text-2xl font-bold max-w-96 mx-auto mb-4">Lleve el control financiero con nuestra plataforma</h2>
      <p class="max-w-96 text-sm text-gray-600">Seleccione una opción para crear el panel que mejor se adapte a sus necesidades.</p>
    </div>
  </div>
</section>
