<app-auth-shell>
  <form>
    <input class="w-full border border-gray-400 px-4 py-3.5 rounded-md outline-none placeholder:text-gray-500 mb-5" type="text" placeholder="Correo electrónico">
    <input class="w-full border border-gray-400 px-4 py-3.5 rounded-md outline-none placeholder:text-gray-500 mb-5" type="password" placeholder="Contraseña">
    <div class="flex justify-between text-sm mb-8">
      <label class="flex gap-2" for="remember">
        <input type="checkbox" id="remember">
        Recordar
      </label>
      <a class="text-[#ec8313]" href="#">¿Olvidaste la contraseña?</a>
    </div>
    <button type="button" class="bg-gradient-to-r from-[#e06016] to-[#ec8313] text-white font-semibold mb-7 px-4 py-3.5 rounded-md w-full hover:from-[#de7136] hover:to-[#ed9231]">Ingresar</button>
    <p class="text-sm">¿No tienes una cuenta? <a class="font-bold" href="#">Regístrate</a></p>
  </form>
</app-auth-shell>