<section class="bg-white grid grid-cols-2 min-h-screen">
  <div class="flex flex-col justify-between p-8">
    <header>
      <h1 class="text-lg font-extrabold">Angular Labs</h1>
    </header>
    <div class="m-auto text-center text-md font-medium w-[450px]">
      <h2 class="text-2xl font-extrabold">Inicia sesión en Angular Labs</h2>
      <p class="mt-3 mb-8 text-gray-600">Identidad con visión de futuro</p>
      <div class="flex gap-4">
        <button
          class="border border-gray-400 rounded-md flex items-center justify-center gap-2 py-2 px-3 w-full transition-colors hover:bg-gray-100 active:bg-gray-200"
        >
          <img class="h-5 w-5" src="assets/images/google-icon.svg" alt="Icono de google" />
          Ingresa con Google
        </button>
        <button
          class="border border-gray-400 rounded-md flex items-center justify-center gap-2 py-2 px-3 w-full transition-colors hover:bg-gray-100 active:bg-gray-200"
        >
          <img class="h-5 w-5" src="assets/images/github-icon.svg" alt="Icono de github" />
          Ingresa con Github
        </button>
      </div>
      <div class="my-6 relative">
        <span
          class="absolute left-0 top-[55%] block bg-gray-400 h-[1px] w-full -translate-y-1/2"
          aria-hidden="true"
        ></span>
        <span class="bg-white text-gray-600 inline-block px-4 relative">o con tu correo</span>
      </div>
      <ng-content />
    </div>
    <footer class="flex justify-between text-sm text-gray-600 font-semibold">
      <a class="text-inherit hover:underline hover:underline-offset-4" href="#">Politica de privacidad</a>
      <span>Copyright 2024</span>
    </footer>
  </div>
  <div class="bg-[#ff784b]"></div>
</section>
