<section class="auth">
  <div class="auth-forms">
    <header>
      <h1 class="heading-5">Angular Labs</h1>
    </header>
    <div class="auth-content text-md font-medium">
      <h2 class="heading-4">Inicia sesión en Angular Labs</h2>
      <p class="auth-subtitle gray-600">Identidad con visión de futuro</p>
      <div class="auth-social">
        <button class="social-btn flex-center">
          <img class="social-btn-icon" src="assets/images/google-icon.svg" alt="Icono de google" />
          Ingresa con Google
        </button>
        <button class="social-btn flex-center">
          <img class="social-btn-icon" src="assets/images/github-icon.svg" alt="Icono de github" />
          Ingresa con Github
        </button>
      </div>
      <div class="divider">
        <span class="divider-text gray-600">o con tu correo</span>
      </div>
      <ng-content />
    </div>
    <footer class="auth-footer gray-600 font-medium">
      <a class="auth-link" href="#">Politica de privacidad</a>
      <span>Copyright 2024</span>
    </footer>
  </div>
  <div class="auth-slides"></div>
</section>
