.auth {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;

  &-forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }

  &-slides {
    background: #ff784b;
  }

  &-content {
    margin: auto;
    text-align: center;
    width: 450px;
  }

  &-subtitle {
    margin: .75rem 0 2rem;
  }

  &-social {
    display: flex;
    gap: 1rem;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
  }

  &-link {
    color: inherit;
    display: inline-block;
    margin-right: auto;
  }
}

.social-btn {
  background: var(--white);
  border: 1px solid var(--gray-400);
  border-radius: .3rem;
  gap: .5rem;
  padding: .55rem .75rem;
  width: 100%;

  &:hover {
    background: var(--gray-100);
  }

  &:active {
    background: var(--gray-200);
  }

  &-icon {
    height: 20px;
    width: 20px;
  }
}

.divider {
  margin: 2rem 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    background: var(--gray-400);
    height: 1px;
    width: 100%;
    transform: translateY(-50%);
  }

  &-text {
    background: var(--white);
    display: inline-block;
    padding: 0 .9rem;
    position: relative;
  }
}